@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.header img.logo {
    width: 75px;
    height: 22px;
}

.header .container {
    max-width: 1440px;
    margin: 0 auto;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px 0;
}

.header .boxlogo {
    padding-left: 45px;
}

.header .navigation {
    width: 584px;
}

.header ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
    
.header li {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}

.header a {
    color: #214E41;
    text-decoration: none;
}

.header a:hover {
    border-bottom: 3px solid #43806C;
}

.header .boxButton{
    padding-bottom: 15px;
}

.header .button {
    box-sizing: border-box;
    width: 137px;
    height: 40px;
    background: #43806C;;
    border-radius: 6px;
    padding-top: 10px;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}
.header .button:hover {
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.582);
}
.header .button:active {
    background: #FFFFFF;
    color: #43806C;
    border: 3px solid #43806C;
    padding-top: 8px;
    box-shadow: none;
}

.header .blockControl {
    display: flex;
    justify-content: space-between;
    width: 150px;
    padding-right: 78px;
    padding-bottom: 15px;
}

.logIn {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41;
    cursor: pointer;
}

.header select.language {
    background-color: #ffffff;
    color: #214E41;
    border: none;
    padding: 5px 25px;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41; 
    text-transform: uppercase; 
    cursor: pointer;
    
}

.header select.logIn {
    background-color: #ffffff;
    padding: 5px;
    border: none;
    outline: none;
    appearance: none;
    -webkit-appearance: checkbox;
    -moz-appearance: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    color: #214E41; 
    cursor: pointer;
}

