@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box;
}
.claims__container {
  margin: 0 auto;
  display: grid;
}

.claims__container_image {
  margin: 0 auto;
}

.claims__container_text span {
  font-family: "Raleway";
  font-weight: 900;
  letter-spacing: 0.05px;
  text-transform: uppercase;
  color: #43806c;
  display: inline-block;
  max-width: 207px;
}

.claims__container_text h3 {
  font-family: "Roboto";
  font-weight: 700;
  color: #214e41;
  max-width: 480px;
}

.claims__container_text p {
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 0.02px;
  color: #757575;
  max-width: 545px;
}

.claims__container_text a {
  text-decoration: none;
  font-family: "Raleway";
  font-weight: 700;
  text-align: left;
  letter-spacing: 0.02px;
  color: #214e41;
  display: block;
  max-width: 105px;
}

.claims__container a:hover {
  background: url(../image/astick.svg) no-repeat bottom;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .claims__container {
    max-width: 1024px;
    grid-template-columns: 0.7fr 1.3fr;
  }

  .claims__container_image img {
    width: 80%;
  }

  .claims__container_text span {
    font-size: 10px;
    line-height: 1.5;
    margin-bottom: 10px;
  }

  .claims__container_text h3 {
    font-size: 25px;
    line-height: 1.3;
    margin-bottom: 17px;
  }

  .claims__container_text p {
    font-size: 13px;
    line-height: 1.7;
    margin-bottom: 13px;
  }

  .claims__container_text a {
    font-size: 13px;
    line-height: 1;
  }
}

@media screen and (min-width: 1024px) {
  .claims__container {
    max-width: 1200px;
    grid-template-columns: 1fr 1fr;
  }

  .claims__container_text span {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  .claims__container_text h3 {
    font-size: 36px;
    line-height: 46px;
    margin-bottom: 34px;
  }

  .claims__container_text p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 26px;
  }

  .claims__container_text a {
    font-size: 18px;
    line-height: 18px;
  }
}
